<div class="msg">
  <p class="msg-head"><b><%= message.goal.setter.username %>:</b> <%= message.goal.title %></p>
  <p class="msg-content"><b><%= message.user.username %></b> said, "<%= message.content %>" <%= std_format_date message.created_at %>.</p>
</div>