<div class="msg">
  <p class="msg-head"><b><%= message.goal_setter_username %>:</b> <%= message.goal_title %></p>
  <p class="msg-content"><b><%= message.username %></b> said, "<%= message.content %>" <%= std_format_date message.created_at %>.</p>
</div>