<%= form_for @milestone  do |f| %>
<fieldset>

  <div class="input-options">
      <%= f.label :milestones %>
      <%= f.text_field :milestones, :value => ""%>
  </div>

  <div class="input-options">
    <%= f.label :deadline %>
    <input type = "Date", name="Deadline" min = "<%= Date.today %>" >
  </div>

<% end %>
