<h2>Update Milestone</h2>
<h4>Goal: <%= @goal.title %></h4>
<h4>Milestone: <%=@milestone.description%></h4>

<% if current_user == @setter %>
  <p>Inform your goaltender, <%= @tender.username %>, that you have completed this milestone.</p>
<% else %>
  <p>Confirm that goalsetter <%= @setter.username %> has completed this milestone</p>
<% end %>

<%= form_for [@goal, @milestone], method: "PATCH" do %>
  <fieldset>
    <% if current_user == @setter %>
      <%= submit_tag "Milestone Complete", class: 'button-user' %>
    <% else %>
      <%= submit_tag "Confirm Milestone", class: 'button-user' %>
    <% end %>
  </fieldset>
<% end %>
