<h3>Make a pledge supporting<br><%= @goal.setter.username %>'s goal to<br><%= @goal.title %></h3>
<p>Your pledge will benefit <%= @goal.charity.name %>.</p>
<%= form_for(@pledge, url: goal_pledges_path) do |f| %>
  <fieldset>
    <div>
      <%= f.label :amount %>
      <%= f.number_field :amount, min:1, :placeholder => "$" %>
    </div>
    <%= f.submit 'Add Pledge' %>
  </fieldset>
<% end %>

<% if @errors%>
  <% @errors.each do |error|%>
    <%= error %>
  <% end %>
<% end %>