<%= form_for(@pledge, url: goal_pledges_path) do |f| %>
  <fieldset>
    <div>
      <%= f.label :amount %>
      <%= f.number_field :amount, min:1, :placeholder => "$" %>
    </div>
    <%= f.submit 'Add Pledge', id: "pledge_and_charge"%>
  </fieldset>
<% end %>




<% if @errors%>
  <% @errors.each do |error|%>
    <%= error %>
  <% end %>
<% end %>