<h2>Search Results for: <%= params[:q] %> </h2>

<% @results.each do |object| %>
  <% case object %>
  <% when User %>
    <p>User: <%= link_to "#{object.username}", user_path(id: object.id) %> </p>

  <% when Charity %>
    <p>Charity: <%= link_to "#{object.name}", charity_path(id: object.id) %></p>

  <% when Goal %>
    <p>Goal Title: <%= link_to "#{object.title}", goal_path(id: object.id) %></p>
    <p>Goal Description: <%= object.description %></p>

  <% when Milestone %>
    <p>Milestone: <%= link_to "#{object.description}", goal_path(id: milestone.goal.id)%> </p>
  <% else %>
    <p> No results were found. </p>
  <% end %>


<% end %>