<div class="welcome">
<% if current_user && @user == current_user %>
  <h1>Welcome, <%= current_user.username %></h1>
<% else %>
  <h1>Welcome to <%= @user.username %>'s page</h1>
<% end %>
</div>

<% if @user.has_active_goals? %>
  <p class="user-maintitle">Active Goals</p>
  <% if @user.active_set_goals.first %>
    <div id="active_goals">
      <p class="user-title">Goals <%= @user.username %> has set</p>
      <% @user.active_set_goals.each do |active_goal|%>
        <%= render "goals/goal", goal: active_goal %>
      <%end%>
    </div>
  <% end %>

  <% if @user.active_tended_goals.first %>
    <div id="tending_goals">
      <p class="user-title">Goals <%= @user.username %> tends</p>
      <% @user.active_tended_goals.each do |tended_goal|%>
        <%= render "goals/goal", goal: tended_goal %>
      <%end%>
    </div>
  <% end %>

  <% if @user.active_supported_goals.first %>
    <div id="supported_goals">
      <p class="user-title">Goals <%= @user.username %> supports</p>
      <% @user.active_supported_goals.each do |goal|%>
        <%= render "goals/goal", goal: goal %>
      <%end%>
    </div>
  <% end %>
<% end %>

<% if @user.has_past_goals? %>
  <p class="user-maintitle">Past Goals</p>
  <% if @user.completed_set_goals.first %>
    <div id="completed_goals">
      <p class="user-title">Goals <%= @user.username %> accomplished</p>
      <% @user.completed_set_goals.each do |completed_goal|%>
        <%= render "goals/goal", goal: completed_goal %>
      <%end%>
    </div>
  <% end %>

  <% if @user.failed_set_goals.first %>
    <div id="failed_goals">
      <p class="user-title">Goals <%= @user.username %> attempted</p>
      <% @user.failed_set_goals.each do |failed_goal|%>
        <%= render "goals/goal", goal: failed_goal %>
      <%end%>
    </div>
  <% end %>
<% end %>
