<% if current_user && @user == current_user %>
  <h1>Welcome, <%= current_user.username %></h1>
<% else %>
  <h1>Welcome to <%= @user.username %>'s page</h1>
<% end %>

<h2>Active Goals</h2>

<% if @user.active_set_goals.first %>
  <div id="active_goals">
    <h3>My Goals</h3>
    <% @user.active_set_goals.each do |active_goal|%>
      <%= render "goals/goal", goal: active_goal %>
    <%end%>
  </div>
<% end %>

<% if @pledges.first %>
  <div id="supported_goals">
    <h3>Supporting Goals</h3>
    <% @pledges.each do |pledge|%>
      <%= render "goals/goal", goal: pledge.goal %>
    <%end%>
  </div>
<% end %>

<% if @user.tended_goals.first %>
  <div id="tending_goals">
    <h3>Tending Goals</h3>
    <% @user.tended_goals.each do |tended_goal|%>
      <%= render "goals/goal", goal: tended_goal %>
    <%end%>
  </div>
<% end %>

<% if @user.completed_set_goals || @user.failed_set_goals %>
  <h2>Past Goals</h2>
  <% if @user.completed_set_goals %>
    <div id="completed_goals">
      <h3>Accomplished Goals</h3>
      <% @user.completed_set_goals.each do |completed_goal|%>
        <%= render "goals/goal", goal: completed_goal %>
      <%end%>
    </div>
  <% end %>

  <% if @user.failed_set_goals.first %>
    <div id="failed_goals">
      <h3>Unsuccessful Goals</h3>
      <% @user.failed_set_goals.each do |failed_goal|%>
        <%= render "goals/goal", goal: failed_goal %>
      <%end%>
    </div>
  <% end %>
<% end %>
