<%= form_for @goal do |f| %>
  <fieldset id="form">

    <div class="input-options">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="input-options">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <%= f.submit 'Save Your Changes', class: 'button-user'  %>

  </fieldset>
<% end %>
