<%= form_for @goal do |f| %>
  <fieldset id="form">

    <div class="input-options">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="input-options">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <% if params.include?("notification") || @errors && @errors[0].include?("goaltender") %>
      <div class="input-options">
        <%= f.label :tender %>
        <%= text_field_tag :tender_name, @goal.tender.username  %>
      </div>
      <%= f.hidden_field :notification, notification: true %>
    <% end %>

    <%= f.submit 'Save Your Changes', class: 'button-user'%>

  </fieldset>
<% end %>
