<div class="profile-container">
  <h3 class="profile-title"><%= link_to "#{goal.title}", goal_path(goal.id) %></h3>
  <p class="profile-info">Goalsetter: <%= goal.setter.username %> &bull; Pledge: $<%= goal.setter_pledge %></p>
  <p class="profile-info"><%=goal.description%></p>
</div>

<% if current_user == goal.tender && goal.notification %>
  <p>I <%= link_to "AGREE", goal_path(id: goal.id, notification: false, accepted: true) %> / <%= link_to "DECLINE", user_path(id: current_user.id, notification: false, goal: goal.id)%> to serve as Goaltender for <%= @goal.setter.username %>'s goal.</p>
<% end %>