<nav id="sorting">
  <%= link_to "Newest", goals_path(sort: "Newest") %> |
  <%= link_to "Submitted By", goals_path(sort: "Submitted") %> |
  <%= link_to "Charity", goals_path(sort: "Charity") %>
</nav>

<% @goals.each do |goal| %>
  <div class="goal-container gbox">
    <div class="goal label">
      <h4 id="attribute-label"><%= link_to "#{goal.title}", goal_path(goal) %></h4>
      <p id="attribute-label"><b>Goal set by <%= goal.setter.username %></b></p>
      <p id="attribute-label"><b>Goalsetter's pledge <%= goal.setter_pledge %></b></p>
      <% if goal.description != "" %>
        <%= goal.description %>
      <% end %>
      <p id="charity">Benefitting <%= link_to "#{goal.charity.name}", charity_path(goal.charity) %></p>
    </div>

    <% if current_user && goal.setter_id != current_user.id %>
      <div class="support-button">
        <%= button_to "Support", new_goal_pledge_path(goal),:method => :get%>
      </div>
    <% end %>

  </div>
<% end %>
