<nav id="sorting">
  <%= link_to "Newest", goals_path(sort: "Newest") %> |
  <%= link_to "Submitted By", goals_path(sort: "Submitted") %> |
  <%= link_to "Charity", goals_path(sort: "Charity") %>
</nav>

<% @goals.each do |goal| %>
  <div class="goal-container gbox">
    <div class="goal label">
      <h4 class="attribute-label"><%= link_to "#{goal.title}", goal_path(goal) %></h4>
      <p class="attribute-label">Goal set by <%= goal.setter.username %></p>
      <p class="attribute-label">Goalsetter's pledge: $<%= goal.setter_pledge %> &bull; Left to match: $<%= goal.left_to_match %></p>
      <% if goal.description != "" %>
        <p><%= goal.description %></p>
      <% end %>
      <p class="charity">Benefitting <%= link_to "#{goal.charity.name}", charity_path(goal.charity) %></p>
    </div>

    <% if current_user && goal.setter != current_user && !goal.is_fully_funded? %>
      <div class="support-button">
        <%= button_to "Support", new_goal_pledge_path(goal),:method => :get%>
      </div>
    <% end %>

  </div>
<% end %>
