<nav id="sorting">
  <%= link_to "Newest", goals_path(sort: "Newest") %> |
  <%= link_to "Submitted By", goals_path(sort: "Submitted") %> |
  <%= link_to "Charity", goals_path(sort: "Charity") %>
</nav>

<% @goals.each do |goal| %>
  <% if goal.is_active? %>
    <div class="goal-container gbox">
      <div class="goal label">
        <div class="attribute-title">
          <%= link_to "#{goal.title}", goal_path(goal) %>
        </div>
        <p class="attribute-label">Goal set by <%= goal.setter.username %></p>
        <p class="attribute-match">Goalsetter's pledge: $<%= goal.setter_pledge %> &bull; Left to match: $<%= goal.left_to_match %></p>
        <p class="styled">
        <meter class="index-meter" min="0" max=<%= goal.total_milestone_value %> low="34" high="75" optimum="100" value=<%= goal.total_milestone_value_completed %>></meter>
        </p>
        <% if goal.description != "" %>
          <p><%= goal.description %></p>
        <% end %>
        <p class="charity">Benefitting <%= link_to "#{goal.charity.name}", charity_path(goal.charity) %></p>
      </div>
    </div>
  <% end %>
<% end %>
