<% if @errors %>
<% @errors.each do |error| %>
<p> <%= error %> </p>
<% end %>
<% end %>

<%= form_for @goal  do |f| %>
    <fieldset>
        <div class="input-options">
            <%= f.label :title %>
            <%= f.text_field :title, :required => true %>
        </div>

        <div class="input-options">
            <%= f.label :description %>
            <%= f.text_field :description, :required => true %>
        </div>

        <div class="input-options">
            <%= f.label :charity %>
            <%= select_tag "charity_selector", options_from_collection_for_select(@charities,"name","name"), :required => true %>
        </div>

        <div class="input-options">
            <%= f.label :tender, value: "Goaltender" %>
            <%= f.text_field :tender , :required => true %>
        </div>

        <div class="input-options bottom-line">
            <%= f.label :setter_pledge , 'Your pledge' %>
            <%= f.number_field :setter_pledge, min: 1, step: 1, placeholder: "$", :required => true %>
        </div>

        <%= link_to "Add Milestone", new_milestone_path,class:"button_to" %>

        <div class="milestone-form">
            <input name="milestone_count" id="milestone_count" value="1" type="hidden">
            <div class="milestone-partial">
                <fieldset>
                  <div class="input-options">
                      <label for="mstone_m1">Milestone</label>
                      <input id="mstone_m1" name="mstone_m1" required>
                  </div>

                  <div class="input-options">
                    <label for="mstone_d1">Deadline</label>
                    <input class="mstone" id="mstone_d1" name="mstone_d1" type="date" min = "<%= Date.today %>" required >
                </div>
            </div>
        </div>
        <%= submit_tag "Create Your Goal!", class:"button_submit" %>
    </fieldset>
<% end %>
</div>

