<%= form_for @goal  do |f| %>
  <fieldset>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.label :tender, value: "Goal Tender" %>
    <%= f.text_field :tender %>

    <%= f.label :charity %>
    <%= select_tag "charity_selector", options_from_collection_for_select(@charities,"name","name")%>

    <%= f.label :milestones %>
    <%= f.text_field :milestones, :value => ""%>

    <input type = "Date", name="Deadline" min = "<%= Date.today %>" >
    </div>
    <%= submit_tag "Create Your Goal!"%>
  </fieldset>
<% end %>
