<div>
  <p id="titles">Goal</p>
  <ul>
    <div class="goal-container gbox">
      <li id="goal-info">
        <div class="goal label">
          <p id="attribute-lable"><%= @goal.title %></p>
          <% if @goal.description != "" %>
            <%= @goal.description %>
          <% end %>
          <p class="styled">
          <meter min="0" max="100" low="25" high="75" optimum="100" value="20"></meter>
          </p>
          <p id="charity">Charity: <%= @goal.charity.name %></p>
        </li>
      <nav id="options">
        <ul>
         <li id="option-links"><%= link_to "Edit Goal", edit_goal_path %></li>
         <li id="option-links"><%= link_to "Delete Goal", goal_path, method: :delete %></li>
        </ul>
      </nav>
      <% if current_user && @goal.setter_id != current_user.id %>
        <div class="support-button">
          <%= button_to "Support", new_goal_pledge_path(@goal),:method => :get%>
        </div>
      <% end %>
    </div>
  </ul>

  <p id="titles">Milestones</p>
  <ul>
      <div class="milestone-cotainer gbox">
        <% @goal.milestones.each do |milestone| %>
          <ul>
            <%= milestone.description %>
            <%= milestone.deadline %>
          </ul>
        <% end %>
      </div>
  </ul>

  <p id="titles">Messages</p>
  <ul>
      <div class="message-cotainer mbox">
        <% @goal.messages.each do |message| %>
          <li class="message"><%= message.content %> - <%= message.user.id %></li>
        <% end %>
      </div>
  </ul>

</div>



