<div>
  <h2 class="titles">Goal: <%= @goal.title %></h2>
  <div class="goal-container gbox">
    <div id="goal-info" class="goal label">
      <h4 id="attribute-label">Set by <%= @goal.setter.username %></h4>
      <% if @goal.description != "" %>
        <p><%= @goal.description %></p>
      <% end %>
      <p class="styled">
        <meter min="0" max="100" low="25" high="75" optimum="100" value="20"></meter>
      </p>
      <p><%= @goal.setter.username %> has pledged $<%= @goal.setter_pledge %> towards completing this goal.</p>
      <% if @goal.is_fully_funded? %>
        <p>Supporters have made <%= @goal.pledges.count %> pledges to fully match <%= @goal.setter.username %>'s pledge.</p>
      <% else %>
        <p>$<%=@goal.setter_pledge - @goal.supporter_pledge_total %> of <%= @goal.setter.username %>'s pledge remains to be matched by supporters.</p>
      <% end %>
      <% if @goal.tender %>
        <p>Goaltender: <%= @goal.tender.username %></p>
      <% end %>
      <p id="charity">Benefitting <%= link_to "#{@goal.charity.name}", charity_path %></p>
    </div>

    <% if current_user == @goal.setter %>
      <div id="options">
        <ul>
          <li id="option-links"><%= link_to "Edit Goal", edit_goal_path %></li>
          <li id="option-links"><%= link_to "Delete Goal", goal_path, :method => :delete %></li>
        </ul>
      </div>
    <% end %>

    <% if current_user && @goal.setter != current_user && !@goal.is_fully_funded? %>
      <div class="support-button">
        <%= button_to "Support", new_goal_pledge_path(@goal),:method => :get%>
      </div>
    <% end %>
  </div>

  <h3 class="titles">Milestones</h3>
  <div class="milestone-container gbox">
    <ul>
      <% @goal.milestones.each do |milestone| %>
        <li>
          <p><%= milestone.description %> by <%= std_format_day milestone.deadline %></p>
          <% if @goal.tender == current_user && milestone.completed == false%>
            <p><%= link_to "Goaltender: Confirm completion of milestone", edit_goal_milestone_path(goal_id: @goal.id, milestone_id: milestone.id) %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <h3 class="titles">Supporters</h3>
  <div class="pledges-container mbox">
    <% if @goal.is_fully_funded? %>
      <p><%= @goal.pledges.count %> pledges totalling $<%= @goal.setter_pledge %> have fully-funded this goal.</p>
    <% else %>
      <p>So far, supporter pledges have matched $<%= @goal.supporter_pledge_total %> of <%= @goal.setter.username %>'s pledge of $<%= @goal.setter_pledge %>.</p>
    <% end %>
    <ul>
      <% @goal.pledges.each do |pledge| %>
        <li class="pledge"><%= pledge.user.username %> pledged $<%= pledge.amount %> on <%= std_format_day(pledge.created_at) %></li>
      <% end %>
    </ul>
  </div>

  <% if current_user %>
    <h3 class="titles">Post a Comment</h3>
    <%= render partial: "messages/form" %>
  <% end %>

</div>



