<div>
  <h2 class="titles">Goal: <%= @goal.title %></h2>
  <div class="goal-container gbox">
    <div id="goal-info" class="goal label">
      <h4 class="attribute-label">Set by <%= @goal.setter.username %></h4>
      <% if @goal.has_description? %>
        <p><%= @goal.description %></p>
      <% end %>
      <p class="styled">
        <meter min="0" max=<%= @total_value %> low="34" high="75" optimum="100" value=<%= @completed %>></meter>
      </p>
      <p class="attribute-match"><%= @goal.setter.username %> has pledged $<%= @goal.setter_pledge %> towards completing this goal.</p>
      <% if @goal.is_fully_funded? %>
        <p>Supporters have made <%= @goal.pledges.count %> pledges to fully match <%= @goal.setter.username %>'s pledge.</p>
      <% else %>
        <p>$<%=@goal.left_to_match %> of <%= @goal.setter.username %>'s pledge remains to be matched by supporters.</p>
      <% end %>
      <p id="charity">Benefitting <%= link_to "#{@goal.charity.name}", charity_path %></p>
      <% if @goal.tender %>
        <p class="attribute-tender">Goaltender: <%= @goal.tender.username %></p>
      <% end %>
    </div>

    <% if current_user == @goal.setter %>
      <div id="options">
        <p class="option-links"><%= link_to "Edit Goal", edit_goal_path %></p>
      </div>
    <% end %>

    <% if current_user && @goal.is_supportable_by?(current_user) %>
      <div class="support-button">
        <%= button_to "Support", new_goal_pledge_path(@goal), method: :get, class: 'button-user' %>
      </div>
    <% end %>
  </div>

  <h3 class="titles">Milestones</h3>
  <div class="milestone-container cbox">
    <ul>
      <% @milestones.each do |milestone| %>
        <li>
          <p>
            <%= milestone.description %>
            <% if milestone.confirmed %>
              &bull; <b>Completed <%= std_format_day milestone.updated_at %></b>
            <% else %>
              &bull; Deadline <%= std_format_day milestone.deadline %>
            <% end %>
          </p>
          <% if milestone.is_completable_by? current_user %>
            <p id="no_list">Goalsetter: <%= link_to "Notify goaltender of milestone completion", edit_goal_milestone_path(goal_id: @goal.id, milestone_id: milestone.id) %></p>
          <% end %>
          <% if milestone.is_confirmable_by? current_user %>
            <p id="no_list">Goaltender: <%= link_to "Confirm completion of milestone", edit_goal_milestone_path(goal_id: @goal.id, milestone_id: milestone.id) %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <h3 class="titles">Supporters</h3>
  <div class="pledges-container mbox">
    <% if @goal.is_fully_funded? %>
    <p class="attribute-label"><%= @goal.pledges.count %> pledges totalling $<%= @goal.setter_pledge %> have fully-funded this goal.</p>
    <% else %>
    <p>So far, supporter pledges have matched $<%= @goal.supporter_pledge_total %> of <%= @goal.setter.username %>'s pledge of $<%= @goal.setter_pledge %>.</p>
    <% end %>
    <ul>
      <% @goal.pledges.each do |pledge| %>
      <li class="pledge"><%= pledge.user.username %> pledged $<%= pledge.amount %> on <%= std_format_day(pledge.created_at) %></li>
      <% end %>
    </ul>
  </div>

  <% if current_user %>
    <div class="message-box">
      <h3 class="titles">Post a Comment</h3>
      <%= render partial: "messages/form" %>
    </div>
  <% end %>

</div>



