<% if @milestone.completed %>

  <h2><%= @setter.username %> has completed a milestone toward the goal, '<%= @goal.title %>'</h2>

  <h4>Hello, <%= @tender.username %>!</h4>

  <p>
    <%= @setter.username %> has reported the completion of a milestone toward the goal, <b><%= @goal.title %></b> at Motivator.com. Please confirm that <%= @setter.username %> has successfully completed '<%= @milestone.description %>.' Then log into the goal page at <b>Motivator</b>, <%= @goal_url %>, to record that confirmation.
  </p>
  <p>
    <%= @setter.username %> will be notified by email when you have confirmed the milestone, and all supporters of the goal will see an announcement in the News Feed on the <b>Motivator</b> website.
  </p>

  <p><b>Thanks again for helping <%= @setter.username %> achieve this goal!</b></p>

<% else %>

  <h2><%= @tender.username %> has confirmed your completion of a milestone</h2>

  <h4>Congratulations, <%= @setter.username %>!</h4>

  <p>
    <%= @tender.username %> has confirmed that you have successfully completed the milestone, '<%= @milestone.description %>.' This puts you one step closer to completing your goal, '<%= @goal.title %>. Well done!'
  </p>

  <p>
    The supporters of your goal have been notified of your success through the News Feed at <b>Motivator.com</b>.
  </p>

  <p><b>Thanks again for working toward your goal with the help of Motivator!</b></p>

<% end %>

