<!DOCTYPE html>
<html>
<head>
  <title>Motivator</title>
  <link href='https://fonts.googleapis.com/css?family=Bowlby+One+SC|Open+Sans:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><a href="/">Motivator</a></h1>
    <ul>
      <% if logged_in? %>
        <li>
          Welcome, <%= link_to current_user.username, user_path(current_user) %>!
        </li>
        <li>
          <%= link_to 'Log Out', session_path(current_user), method: :delete %>
        </li>

      <% else %>
        <li>
          <%= link_to 'Sign Up', new_user_path %>
        </li>
        <li>
          <%= link_to 'Log In', new_session_path %>
        </li>
      <% end %>

    </ul>
  </header>

  <main>

    <nav>
      <ul>
        <li><a href="">Create New Goal</a></li>
      </ul>
    </nav>

    <%= yield %>
  </main>

  <footer>
    <p>Created by Jeff George, Chris Guard, and Luis Plaz for Dev Bootcamp</p>
  </footer>
</body>
</body>
</html>
